
<nav class="navbar navbar-dark navbar-expand bg-primary">
        <div class="container-fluid">
                <div class="navbar-header">
                        <a class="navbar-brand" href="/"><img style="height:25px" src="https://www.virustotal.com/gui/images/favicon.png" /> VirusTotal</a>
                </div> 
                <ul class="navbar-nav">
                        <li class="nav-item">
                                <a href="/file/scan" class="nav-link">Scan File</a>
                        </li> 
                        <li class="nav-item">
                                <a href="/url/scan" class="nav-link">Scan URL</a>
                        </li> 
                        
                </ul>     
                        
               
        </div>  
        
        
</nav>
