{% extends 'base.html' %}

{% block title %}

Scan URL

{% endblock %}



{% block content %}

{% if msg==1 %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> URL Upload Successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif msg==0 %}

       <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Failed!</strong> URL Upload failed
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}


  <div class="container mt-3">
        <h2>Upload URL</h2>
        <form  method="POST">
            
            <div class="input-group">
                <input type="url" class="form-control" id="url" name="url" autocomplete="off">
            </div>
            <br/>
            <button type="submit" class="btn btn-success form-control">Submit</button>
        </form>


        {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}
    </div>

    <div class="container">

      <div class="row">
        
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="page-heading"> <i class="glyphicon glyphicon-edit"></i> <h2> Scanned URLs </h2></div>
            </div> 
            <div class="panel-body">
              <table id="url_table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>

            </div>
          </div>
        </div>
      
      </div>

    </div>
	
    


{% endblock %}